.loginmodal__wrapper {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(10, 8, 8, .9);

	.loginmodal-closebtn {
		position: absolute;
		top: 20px;
		right: 20px;
		font-size: 25px;
		cursor: pointer;

		svg {
			color: #fff;
		}
	}

	.form__container {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		padding: 60px;
		background: #fff;
		border-radius: 10px;
		display: flex;
		flex-direction: column;

		.form__title {
			display: flex;
			justify-content: space-between;
			color: #0A9E01;
			border-bottom: 3px solid #0A9E01;
			margin-bottom: 10px;
			padding-bottom: 18px;
			font-weight: 600;
			font-family: Ubuntu;

			svg {
				color: #ccc;
			}
		}

		form {
			display: flex;
			flex-direction: column;
			margin-top: 10px;

			.username {
				border: 1px solid #ccc;
				border-radius: 2px;
				height: 30px;
				margin-bottom: 15px;
				outline: none;
				padding: 0 5px;

				&:hover {
					background: rgba(#ccc, .5);
				}

			}

			.passoword {
				border: 1px solid #ccc;
				border-radius: 2px;
				height: 30px;
				margin-bottom: 15px;
				padding-right: 5px;

				input {
					height: 100%;
					border: none;
					outline: none;
					padding: 0 5px;
					background: transparent;

				}

				span {
					font-size: 14px;
					color: #000;

					&:hover {
						color: #0A9E01;
						cursor: pointer;
					}
				}

				&:hover {
					background: rgba(#ccc, .5);
				}
			}

			.checkbox {
				margin-bottom: 20px;
				display: flex;
				align-items: center;
				column-gap: 5px;
				font-size: 14px;

				input {}

				span {}
			}

			button {
				height: 40px;
				outline: none;
				border: 1px solid #0A9E01;
				border-radius: 3px;
				background: #0A9E01;
				color: #fff;
			}

		}
	}

}