.home__wrapper {
	min-width: 100%;
}
.scrollToTop {
	position: fixed;
	bottom: 10px;
	right: 10px;
	width: 35px;
	height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	background: #0A9E01;
	cursor: pointer;
	z-index: 150;
}
.activeBtn {
 	animation: smoothScroll .5s forwards;
}
@keyframes smoothScroll {
	0% {
		transform: translateY(-10px);
	}
	100% {
		transform: translateY(0px);
	}
}

.main__section {
	padding: 30px 80px;
}


@media screen and (max-width: 768px) {
	.main__section {
		padding: 30px 10px;
	}
}